input{
    border-radius: 7px;
    width: 80%;
}

.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}

.custom-form{
    margin-top: 10rem;
}

.with-margin{
    margin-top: 20rem;    
}

.custom-wrapper {
    text-align: center;
  .img-wrappered {
    display: inline-block;
  }
}

p{
    &.image-header{
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: xx-large;
    font-weight: bolder;
    }
}