<div class="vertical-container">
  <form class="vertical-center" [formGroup]="addPostForm" (submit)="onAddPost()">
    <div class="form-group">
      <label for="title">Título:</label>
      <input
        type="text"
        class="form-control"
        id="title"
        placeholder="Escribe aquí el título..."
        formControlName="title"
      />
    </div>
    <div class="form-group">
      <textarea
        id="message"
        class="form-control"
        maxlength="256"
        placeholder="Mensaje..."
        formControlName="message"
      ></textarea>
    </div>
    <div class="form-group">Imagen en Miniatura del Tema</div>
    <div class="form-group">
      <app-image-upload (updateImg)="onUpdatedImg($event)"></app-image-upload>
      <div>
        <small>
          Esta imagen servirá de vista previa en los listados de foros, en la actividad y al
          compartir en redes sociales.
        </small>
      </div>
    </div>
    <!-- TODO: crear modal que muestre el mensaje previsualizado -->
    <div class="form-buttons">
      <button [disabled]="addPostForm.invalid" class="btn">Previsualiza tu Mensaje</button>
      <button type="submit" [disabled]="addPostForm.invalid" class="btn btn-primary">
        Publicar Mensaje
      </button>
    </div>
  </form>
</div>
