<div>
  <!-- Fijarse que es mucho mas, porque puede contener imagenes, links, mencionar, citar y ver que mas. Ademas fijarse como hacer eso
        a la hora de aniadir un comment, y fijarse como se puede guardar en el back. Ademas fijarse que trae mas data
        en 3djuegos (hace cuanto esta, links para ir a su perfil, cantidad de comentarios, etc).
        ahora por ser una primera version lo dejo simple pero despues hacer esto  -->
  <div>
    <span class="profile-img"></span>
    <span>{{ params.author }}</span>
  </div>
  <div>{{ params.message }}</div>
</div>
