<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class=" tree" data-widget="tree">
      <app-menu-item
        [title]="'Mis Búsquedas'"
        (onAction)="onGoTo('busquedas')"
        [route]="'../home/usuarios-cerca'"
      ></app-menu-item>
      <app-menu-item
        [title]="'Foro'"
        (onAction)="onGoTo('foro')"
        [route]="'../home/foro'"
      ></app-menu-item>
      <app-menu-item
        [title]="'Usuarios Cerca'"
        (onAction)="onGoTo('perfil')"
        [route]="'../home/usuarios-cerca'"
      ></app-menu-item>
      <app-menu-item
        *ngIf="sessionMode"
        [title]="'Cerrar Sesión'"
        (onAction)="sessionSrvc.logout()"
      ></app-menu-item>
      <app-menu-item
        *ngIf="!sessionMode"
        [title]="'Registrarse'"
        (onAction)="onGoTo($event)"
        [route]="'../home/autenticacion/registro'"
      ></app-menu-item>
      <app-menu-item
        *ngIf="sessionMode"
        [title]="'Perfil'"
        (onAction)="onGoTo($event)"
        [route]="'../home/autenticacion'"
      ></app-menu-item>
      <app-menu-item
        *ngIf="!sessionMode"
        [title]="'Iniciar Sesión'"
        (onAction)="onGoTo($event)"
        [route]="'../home/autenticacion'"
      ></app-menu-item>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
