<div class="vertical-container">
  <h2 *ngIf="postRelatedToComment">{{ postRelatedToComment }}</h2>
  <form
    class="vertical-center"
    [formGroup]="addOrEditPostOrCommentForm"
    (submit)="onSavePostOrComment()"
  >
    <div class="form-group" *ngIf="this.addOrEditPostOrCommentForm.controls.title">
      <label for="title">Título:</label>
      <input
        type="text"
        class="form-control"
        id="title"
        placeholder="Escribe aquí el título..."
        formControlName="title"
      />
    </div>
    <div class="form-group">
      <textarea
        id="message"
        class="form-control"
        maxlength="256"
        placeholder="Mensaje..."
        formControlName="message"
      ></textarea>
    </div>
    <ng-container *ngIf="this.addOrEditPostOrCommentForm.controls.img">
      <div class="form-group">Imagen en Miniatura del Tema</div>
      <div class="form-group">
        <app-image-upload (updateImg)="onUpdatedImg($event)"></app-image-upload>
        <div>
          <small>
            Esta imagen servirá de vista previa en los listados de foros, en la actividad y al
            compartir en redes sociales.
          </small>
        </div>
      </div>
    </ng-container>

    <!-- TODO: crear modal que muestre el mensaje previsualizado -->
    <div class="form-buttons">
      <button class="btn btn-danger" (click)="onCancel()">Cancelar</button>
      <button [disabled]="addOrEditPostOrCommentForm.invalid" class="btn">
        Previsualiza tu Mensaje
      </button>
      <button type="submit" [disabled]="addOrEditPostOrCommentForm.invalid" class="btn btn-primary">
        Publicar Mensaje
      </button>
    </div>
  </form>
</div>
