<div>
  <h1>FORO</h1>
  <div>
    <span (click)="onSetForumGridType('posts')">Posts</span>
    <span (click)="onSetForumGridType('comments')">Comentarios</span>
  </div>
  <div>
    <forum-grid
      *ngIf="itemsToShow.length"
      [type]="itemType"
      [items]="itemsToShow"
      [@fadeIn]="itemsToShow.length"
      (onClickItem)="onGoToItemDetail($event)"
      (onEditOrDeleteItem)="onEditOrDeleteItem($event)"
    ></forum-grid>
    <items-ghosts
      *ngIf="ghosts.length"
      [@fadeOut]="!ghosts.length"
      [ghosts]="ghosts"
    ></items-ghosts>
    <paginator [params]="paginatorParams" (onChangePage)="onChangeItemPage($event)"></paginator>
  </div>
</div>
